/* Noscript overrides for light theme */
#wrapper {
	background-color: #FEFDFB !important;
	background-image: none !important;
}

#wrapper.fade-in:before {
	display: none !important;
}

body.is-preload #intro {
	opacity: 1;
}

body.is-preload #intro:not(.hidden) + #header + #nav {
	transform: none;
	opacity: 1;
}
